<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrance Page</title>
    <link rel="stylesheet" href="/stylesheets/entrance-page.css">
</head>
<body>
<div id="content">
<h1>Entrance Page</h1>
<form action="/main-page" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email">
    </div>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>

